$website-width: 1280px;
$main-color: rgba(220, 90, 0, 0.904);
$light-color: #f4f4f4;
$dark-color: #004872;
$medium-color: #bbb0b0;
$bg-image: image-url('../dist/img/bg1.png', false, false);


//set text color
@function set-text-color($color){
    @if(lightness($color)>50){
        @return #000;
    }
    @else{
        @return #f4f4f4;
    }
}