@import 'config';
@import 'utilities';
@import 'items_grid';
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Dosis', sans-serif;
    background: #fff;
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: $dark-color;
}
ul{
    list-style: none;
}
h2, h3, h4{
    text-transform: uppercase;
}

img{
    width: 100%;
}

#logo{
    width: 70px;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
}

#main-nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    ul{
        display: flex;
    }
    li{
        padding: 1rem 1.5rem;
    }
    a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        transition: border-color o.5s;
        padding: 0.5rem;

        &:hover{
            border-color: $medium-color;
        }
        &.current{
            border-color: $main-color;
        }
    }
}
#header{
    &-home{
        background: $bg-image no-repeat center right / cover;
        height: 100vh;
        color: #fff;

        .header-content{
            text-align: center;
            padding: 20%;

            h1{
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }
    &-inner{
        background: $bg-image no-repeat 20% 30% / cover;
        height: 5.5rem;
        border-bottom: 3px solid $main-color;
    }
}

#home{
    &-a{
        .specials{
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);
            .fa{
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }

    &-b{
        .stats{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            li{
                line-height: 2;
                &.stats-title{
                    font-size: 1.5rem;
                }
                &.stats-number{
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
            div{
                padding: 3rem 0;
                &:nth-child(odd){
                    background: $medium-color;
                }
                &:nth-child(even){
                    background-color: $light-color;
                }
            }
        }
    }

    //section c home
    &-c{
        .process{
            grid-gap: 1.5rem;
            grid-template-columns: repeat(4, 1fr);
            display: grid;
            text-align: center;

            &-step{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 28px;
                background: $main-color;
                color: set-text-color($main-color);
                border-radius: 50%;
                height: 10px;
                width: 10px;
                padding: 0.5rem;
                line-height: 10px;
                transition: all 1s;
            }

            &-icon{
                border-radius: 50%;
                background: $dark-color;
                color: set-text-color($dark-color);
                padding: 2rem;
                width: 70px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                position: relative;
                transition: all 1s;

                &:hover{
                    background: $main-color;
                    width: 90px;
                    height: 90px;
                    line-height: 90px;
                    .process-step{
                        background: $dark-color;
                        color: set-text-color($dark-color);
                    }
                }
            }
        }
    }
}

//About section
#about{
    &-a{
        .about-info{
            display: grid;
            grid-template-areas: 
            'bioimage bio bio'
            'aw1 aw2 aw3';
            grid-gap: 1.2rem;
        }

        .bio-image{
            grid-area: bioimage;
            height: 100%;
        }

        .bio{
            grid-area: bio;
            border-left: 3px solid $main-color;
            padding: 0.8rem;
        }

        .award-1{
            grid-area: aw1;
        }

        .award-2{
            grid-area: aw2;
        }

        .award-3{
            grid-area: aw3;
        }

        .award-1 .fas,
        .award-2.fas,
        .award-3.fas{
            color: $main-color;
            margin: 1rem;
        }
    }
    //about section b
    &-b{
        .progress{
            overflow: hidden;
            height: 20px;
            background: $medium-color;
            border-radius: 5px;
            margin-bottom: 0.6rem;

            div{
                height: 100%;
                color: #fff;
                text-align: center;
                background: $main-color;
            }
        }
    }

    //about c:
    &-c{
        .about-logos{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
            img{
                width:70%;
            }
        }
    }
}

#contact{
    &-a{
        .text-field{
            display: grid;
            grid-template-areas: 
            'name subject'
            'email phone'
            'message message';
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;

            .name-input{
                grid-area: name;
            }

            .subject-input{
                grid-area: subject;
            }

            .email-input{
                grid-area: email;
            }

            .phone-input{
                grid-area: phone;
            }

            .message-input{
                grid-area: message;
                height: 200px;
            }
            .text-input{
                padding: 0.5rem 1rem;
            }
        }
        button[type='submit']{
            width: 50%;
            color: #fff;
        }
    }

    &-b{
        .contact-info{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
        }
    }

    &-c{
        h1{
            text-align: center;
            font-size: 4rem;;
        }
    }
}

//footer
#main-footer{
    background: $dark-color;
    color: #fff;
    height: 5rem;

    .footer-content{
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        .social .fa{
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;
            color: #fff;

            &:hover{
                background: $main-color;
            }
        }
    }
}

//import media file
@import 'media';